<div>
  <h1> <%= @cocktail.name %> </h1>
  <ul>
    <% @cocktail.doses.each do |dose| %>
    <li> <%= dose.ingredient.name %> </li>

    <li>
    <button>

    <%= link_to 'Delete dose', cocktail_dose_path(@cocktail, dose),
                data: {:confirm => 'Are you sure you want to delete this ingredient?'}, :method => :delete %>
    </button>
    </li>
    <% end %>
  </ul>

  <li>
    <button>
    <%= link_to "Create a new dose for cocktail", new_cocktail_dose_path(@cocktail)  %>
    </button>
  </li>




</div>
